.outer_div{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    margin: 0 5px;
    justify-content: flex-start;
}
.inner_div{
    display:"flex";
    align-items:"center";
    flex-direction:"column";
}
.left_icon_div{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 5px;
}
.left_icon_div:hover{
    border-radius: 10px;
    background-color: rgb(220, 219, 219);
}
.left_icon{
    font-size: 30px;
    color: rgb(31, 138, 220);
    cursor: pointer;
}
.left_icon_para{
    font-size: 16px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
.center_div{
    width: 600px;
}

@media (max-width:992px){
    .inner_div{
        display: none;
    }
}
@media (max-width: 468px){
    .center_div{
        width: 385px;
    }
}